.div__form {
  max-width: 40rem;
  margin: 0 auto;
  padding: 20px;
  background-color: #000000b0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-top: 50px;
  border-radius: 8px;

  h2 {
    margin-bottom: 4rem;
    color: white;
    font-size: 3.4rem;
  }

  form {
    display: flex;
    flex-direction: column;

    div {
      position: relative;
    }

    #reviewer__name {
      width: 100%;
      padding: 10px 0;
      font-size: 16px;
      color: #fff;
      margin-bottom: 30px;
      border: none;
      border-bottom: 1px solid #fff;
      outline: none;
      background: transparent;

      &::placeholder {
        color: #888;
      }
    }

    #rating {
      width: 100%;
      padding: 10px 0;
      font-size: 16px;
      color: #fff;
      margin-bottom: 30px;
      border: none;
      border-bottom: 1px solid #fff;
      outline: none;
      background: transparent;

      &::placeholder {
        color: #888;
      }
    }

    input:focus ~ label,
    input:valid ~ label {
      top: -20px;
      left: 0;
      color: #03e9f4;
      font-size: 12px;
    }

    label {
      position: absolute;
      top: 0;
      left: 0;
      padding: 10px 0;
      font-size: 16px;
      color: #fff;
      pointer-events: none;
      transition: 0.5s;
    }

    textarea {
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #888;
      border-radius: 4px;
      background-color: #000000a1;
      color: white;
      min-height: 15rem;
      font-size: 1.5rem;

      &::placeholder {
        color: #888;
      }
    }

    button {
      width: 220px;
      height: 50px;
      border: none;
      outline: none;
      color: #fff;
      background: #111;
      cursor: pointer;
      position: relative;
      z-index: 0;
      border-radius: 10px;
      font-size: 2em;
      align-self: center;
    }

    button:before {
      content: '';
      background: linear-gradient(
        45deg,
        #ff0000,
        #ff7300,
        #fffb00,
        #48ff00,
        #00ffd5,
        #002bff,
        #7a00ff,
        #ff00c8,
        #ff0000
      );
      position: absolute;
      top: -2px;
      left: -2px;
      background-size: 400%;
      z-index: -1;
      filter: blur(5px);
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      animation: glowing 20s linear infinite;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
      border-radius: 10px;
    }

    button:active {
      color: #000;
    }

    button:active:after {
      background: transparent;
    }

    button:hover:before {
      opacity: 1;
    }

    button:after {
      z-index: -1;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: #111;
      left: 0;
      top: 0;
      border-radius: 10px;
    }

    @keyframes glowing {
      0% {
        background-position: 0 0;
      }
      50% {
        background-position: 400% 0;
      }
      100% {
        background-position: 0 0;
      }
    }
  }
}

/*detta försvann men jag la till det igen*/
main li a {
  font-size: 2em;
  color: rgba(255, 255, 255, 0.781);
}

main li :hover {
  font-size: 2.1em;
  color: white;
}

main a {
  font-size: 2em;
}

.movie img {
  max-width: 60em;
}
