<head>
  <link href="./static/src/assets/style.css" rel="stylesheet" />
  <link rel="stylesheet" href="/static/assets/main.css" />
</head>
<header id="header">
  <div class="header__div">
    <a href="/" class="header__logo"
      ><img
        src="../static/assets/logo-biograf_regna.png"
        style="height: 130px"
        alt="Logotype for
        Folkets Bio"
    /></a>
    <nav>
      <ul>
        <li class="text-red-500"><a href="filmer">Filmer</a></li>
        <li class="text-green-600"><a href="om-oss">Om oss</a></li>
        <li class="text-red-700"><a href="evenemang">Evenemang</a></li>
        <li class="text-red-500"><a href="biljetter">Biljetter</a></li>
        <li class="text-red-400"><a href="">English</a></li>
      </ul>
    </nav>
  </div>
</header>
