<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link href="/static/assets/style.css" rel="stylesheet" />
    <script type="module" src="/static/login.js" defer></script>
  </head>
  <%- include('../views/partials/header.ejs') %>
  <body>
    <main>
      <form action="#" id="login" class="flex container mx-auto p-36 bg-white">
        <div class="flex items-center mb-4 p-10 h-12">
          <label for="username" class="text-3xl">Name:</label>
          <input
            class="border h-12 text-3xl"
            id="username"
            type="text"
            placeholder="Username"
          />
        </div>
        <div class="flex items-center mb-4 p-10 h-12">
          <label class="text-3xl" for="password">Password:</label>
          <input
            class="border h-12 text-3xl"
            id="password"
            type="password"
            placeholder="*******"
          />
          <button
            class="px-8 py-3 flex items-center ml-3 text-3xl"
            type="submit"
          >
            Sign In
          </button>
        </div>
      </form>
    </main>
  </body>
  <%-include('../views/partials/footer.ejs') %>
</html>
