<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Min sida</title>
    <link rel="icon" type="image/png" href="../static/assets/logga.png" />
    <script type="module" defer src="../static/profileHandler.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/assets/frontendTemp.css"
    />
    <link rel="stylesheet" type="text/css" href="../static/assets/style.css" />
  </head>
  <body class="bg-black">
    <header class="bg-black">
      <button class="absolute top-0 right-0 p-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="w-6 h-6 text-white"
        >
          <path
            fill-rule="evenodd"
            d="M2.293 2.293a1 1 0 011.414 0L10 8.586l6.293-6.293a1 1 0 111.414 1.414L11.414 10l6.293 6.293a1 1 0 01-1.414 1.414L10 11.414l-6.293 6.293a1 1 0 01-1.414-1.414L8.586 10 2.293 3.707a1 1 0 010-1.414z"
            clip-rule="evenodd"
          />
        </svg>
      </button>

      <div class="flex items-center justify-center">
        <a href="/">
          <img
            src="./static/assets/logo-biograf_regna.png"
            alt="Logotype for Folkets Bio"
            class="h-12"
          />
        </a>
      </div>
    </header>
  </body>
</html>
