<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup</title>
    <link href="/static/assets/style.css" rel="stylesheet" />
    <script type="module" src="/static/signup.js" defer></script>
  </head>
  <%- include('../views/partials/header.ejs') %>
  <body>
    <main>
      <form
        action="#"
        id="signup"
        class="flex flex-col items-start container mx-auto p-10 bg-white"
      >
        <div class="text-3xl flex items-center mb-8">
          <label class="text-3xl" for="">Användarnamn:</label>
          <input
            class="text-3xl border h-12 bg-slate-500 bg-opacity-50 ml-4 shadow invalid:bg-red-600 valid:bg-green-500"
            id="userName"
            type="text"
            required
          />
        </div>

        <div class="text-3xl flex items-center mb-8">
          <label class="text-3xl" for="">E-post:</label>
          <input
            class="text-3xl border h-12 bg-slate-500 bg-opacity-50 ml-4 shadow invalid:bg-red-600 valid:bg-green-500"
            id="email"
            type="email"
            required
          />
        </div>

        <div class="text-3xl flex items-center mb-8">
          <label class="text-3xl" for="">Fullständigt namn:</label>
          <input
            class="text-3xl border h-12 bg-slate-500 bg-opacity-50 ml-4 shadow invalid:bg-red-600 valid:bg-green-500"
            id="fullName"
            type="text"
            required
          />
        </div>

        <div class="text-3xl flex items-center mb-8">
          <label class="text-3xl" for="">Lösenord:</label>
          <input
            class="border h-12 bg-slate-500 bg-opacity-50 ml-4 shadow text-3xl invalid:bg-red-600 valid:bg-green-500"
            id="password"
            type="password"
            required
            minlength="8"
            title="Lösenordet måste vara minst 8 tecken långt"
          />
          <p class="text-2xl text-black ml-1">
            Lösenordet ska vara minst 8 tecken långt
          </p>
        </div>
        <div class="text-3xl flex items-center mb-8">
          <label class="text-3xl" for="">Upprepa lösenord:</label>
          <input
            class="border h-12 bg-slate-500 bg-opacity-50 ml-4 shadow text-3xl invalid:bg-red-600 valid:bg-green-500"
            id="repeatPassword"
            type="password"
            required
            minlength="8"
            title="Lösenordet måste vara minst 8 tecken långt"
          />
          <p class="text-2xl text-black ml-1">
            Lösenordet ska vara minst 8 tecken långt
          </p>
        </div>
        <div>
          <button
            class="text-3xl border px-8 py-3 flex items-center ml-3 font-bold hover:border-red-500"
          >
            Submit
          </button>
        </div>
      </form>
    </main>
  </body>
  <%-include('../views/partials/footer.ejs') %>
</html>
